.contact-container{
    width: 100%;
    height: 100%;
    margin-top: 70px;
    border-color: red;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    background-color: #252525;
    font-size: 20px;
    text-align: center;
}

.contact-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: start;
    align-items: start;
}


.contact-info{
    width: 43%;
    flex:1fr;
    min-width: 225px;
    font-size: 100%;
    padding: 40px;
    height: 100%;
}

.message-div{
    width: 43%;
    flex:1fr;
    min-width: 225px;
    height: 100%;
    margin-top: 30px; 
    display: grid; 
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin-left: 30px;
    
    
}
.name-text{
    max-width: 600px;
    height: 50px;
    background-color: #393838;
    border-style: solid;
    border-color: orangered;
    border-width: 3px;
    color: white;
}
.subject-text{
    height: 50px;
    background-color: #393838;
    border-style: solid;
    border-color: orangered;
    border-width: 3px;
    color: white;
}
.message-text{
    height: 80px;
    background-color: #393838;
    border-style: solid;
    border-color: orangered;
    border-width: 3px;
    color: white;
}
.send-message{
    max-width: 100px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: orangered;
    color: orangered;
    background-color: #393838;
    border-radius: 15px;
    transition: 0.2s;
}
.send-message:hover{
    transition: 0.3s;
    color: #252525;
    background-color: white;
}
.send-message:active{
    transition: 50ms;
    opacity: 0.7;
    color: orangered;
    background-color: #393838;
}


.contact-info-text{
    color: orangered;
    width: 100%;
    text-align: left;
}
@media screen and (max-width: 426px) {
    .contact-body{
        padding:5px;
    }
    .contact-info-text{
        color: orangered;
        width: 100%;
        text-align: left;
        max-width: 300px;
        font-size: 15;
    }
    .about-me-span{
        font-size: 18px;
    }
}
