.container{
    margin-top: 70px;
    border-color: red;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    background-color: #252525;
    font-size: 20px;
    text-align: center;
}
.project-folder{
    display: grid;
    grid-template-columns: 1fr;
}
.project-with-one-img{
    padding: 10px;
    margin: 10px;
    border-color: orangered;
    border-width: 3px;
    border-style: solid;
    background-color: beige;
    
}
.one-image-div{
    text-align: center;
}
.project-with-two-imgs{
    padding: 10px;
    margin: 10px;
    border-color: orangered;
    border-width: 3px;
    border-style: solid;
    /*-----
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.two-images-div{
    text-align: center;
}
.peter-img{
    min-width: 400px;
    width: 40%;
    max-width: 100%;
    text-align: right;
    border-width: 2px;
    border-color: #252525;
    border-style: solid;
}
.stewie-img{
    min-width: 400px;
    width: 40%;
    max-width: 100%;
    
}
.project-explanation{
    text-align: left;
}
.project-link{
    font-size: 22px;
}
@media screen and (max-width: 426px) {
    .container{
        margin-top: 70px;
        border-color: red;
        border-width: 3px;
        border-style: solid;
        padding: 10px;
        background-color: #252525;
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
    .peter-img{
        min-width: 200px;
        width: 40%;
        max-width: 100%;
        text-align: right;
    }
    .stewie-img{
        min-width: 200px;
        width: 40%;
        max-width: 100%;
        
    }
    .main-body{
        padding: 5px;
    }
}

