<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/projects.css">
    <link rel="stylesheet" href="../styles/Home.css">
    <link rel="stylesheet" href="../styles/contact.css">
    <title>Document</title>
</head>
<body style="background-color: grey;">
    <div class="home-div" style="background-color: transparent;">
        <div class="top-bar">
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="../index.html">
                <div class="bar"><span class="bar-text">Home</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="skills.html">
                <div class="bar"><span class="bar-text">Skills</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="projects.html">
                <div class="bar"><span class="bar-text">Projects</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="interests.html">
                <div class="bar"><span class="bar-text">Interests</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="contact.html">
                <div class="bar"><span class="bar-text">Contact</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>    
        </div>
    
        <div class="contact-container">
            <h1 style="color: orangered;">
                My Contact
            </h1>
            <div style="text-align: left;">
                <div>
                    <h2><span style="color: white;">This part is not working for</span> <span style="color: orangered;">now</span><span style="color: white;">, I will connect a server</span> <span style="color: orangered;">as soon as possible</span><span style="color:white;">.</span></h2>
                </div>
                <div>
                    <h2> <span style="color: white;">Please contact me via my </span><span style="color: orangered;">email</span><span style="color: white;">.</span></h2>
                </div>
            </div>
            <div class="contact-div">
                
                <div class="message-div">
                    <input type="text" class="name-text" placeholder= "Name" style="font-size: 80%;">
                    <input type="text" class="subject-text" placeholder= "Subject" style="font-size: 80%;">
                    <textarea type="text" class="message-text" placeholder= "Your Message" style="font-size: 80%;"></textarea>
                    <button class="send-message">SEND</button>
                </div>
                <div class="contact-info">
                    <h3 style="margin-top: 0;color: white;"><span style="color: orangered;">My Contact</span> Info</h3>
                    <hr>
                    <div>
                        <h3 class="contact-info-text"> My Name: <span style="color: white;">Cenker Akan</span></h3>
                        <h3 class="contact-info-text"> My Mail Adress: <span style="color: white;">cenker.akan@ug.bilkent.edu.tr</span></h3>
                        <h3 class="contact-info-text"> My Adress: <span style="color: white;">Cankaya, Ankara</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function sendMessage() {
        const name = document.querySelector(".name-text").value;
        const subject = document.querySelector(".subject-text").value;
        const message = document.querySelector(".message-text").value;
        console.log("Name:", name);
        console.log("Subject:", subject);
        console.log("Message:", message);
    }

    const sendButton = document.querySelector(".send-message");
    sendButton.addEventListener("click", sendMessage);
</script>
</html>