<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/projects.css">
    <link rel="stylesheet" href="../styles/Home.css">
    <link rel="stylesheet" href="../styles/contact.css">
    <title>Document</title>
</head>
<body style="background-color: grey; min-height: 1000px;">
    <div class="home-div" style="background-color: transparent;">
        <div class="top-bar">
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="../index.html">
                <div class="bar"><span class="bar-text">Home</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="skills.html">
                <div class="bar"><span class="bar-text">Skills</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="projects.html">
                <div class="bar"><span class="bar-text">Projects</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="interests.html">
                <div class="bar"><span class="bar-text">Interests</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="contact.html">
                <div class="bar"><span class="bar-text">Contact</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>    
        </div>
    
        <div class="contact-container">
            <h1 style="color: orangered;">
                My Contact
            </h1>
            <div class="contact-div">
                <div class="message-div">
                    <input type="text" class="name-text" placeholder= "Name" style="font-size: 80%;">
                    <input type="text" class="subject-text" placeholder= "Subject" style="font-size: 80%;">
                    <input type="text" class="message-text" placeholder= "Your Message" style="font-size: 80%;">
                    <button class="send-message">SEND</button>
                </div>
                <div class="contact-info">
                    <h3 style="margin-top: 0;color: white;">My Contact Info</h3>
                    <hr>
                    <div>
                        <h3 class="contact-info-text"> My Name: <span style="color: white;">Cenker Akan</span></h3>
                        <h3 class="contact-info-text"> My Mail Adress: <span style="color: white;">cenker.akan@ug.bilkent.edu.tr</span></h3>
                        <h3 class="contact-info-text"> My Adress: <span style="color: white;">Cankaya, Ankara</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>