<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/Home.css">
</head>
<body style="height: 1000px;">
    <div class="home-div">
        <div class="top-bar">
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="">
                <div class="bar"><p class="bar-text">Home</p> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>

            <a href="">
                <div class="bar"><p class="bar-text">Skills</p> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>

            <a href="">
                <div class="bar"><p class="bar-text">Projects</p> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="">
                <div class="bar"><p class="bar-text">Interests</p> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>

            <a href="">
                <div class="bar"><p class="bar-text">Contact</p> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>    
        </div>
        <div class="main-content">
            Deneme 2 
        </div>
    </div>
</body>
</html>