<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/projects.css">
    <link rel="stylesheet" href="../styles/Home.css">
    <link rel="stylesheet" href="../styles/interests.css">
    <title>Document</title>
</head>
<body style="background-color: grey; ">
    <div class="home-div" style="background-color: transparent;">
        <div class="top-bar">
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="../index.html">
                <div class="bar"><span class="bar-text">Home</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="skills.html">
                <div class="bar"><span class="bar-text">Skills</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="projects.html">
                <div class="bar"><span class="bar-text">Projects</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="interests.html">
                <div class="bar"><span class="bar-text">Interests</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="contact.html">
                <div class="bar"><span class="bar-text">Contact</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>    
        </div>
    
        <div class="image-container">
            <h1 style="color: orangered;">
                Interests
            </h1>
            <div class="project-folder">
                <div class="project-with-one-img">
                    <div>
                        <h2> My favorite activity to do in my free times is wood carving. Wood carving is significantly similar to
                            software developing. You make make plans for your future masterpiece, you start creating that masterpiece.
                            Sometimes things stick to the plan, and sometimes things become complicated. A skewed saw cut or a 
                            miscalculation can force you to change the existing plans. These consecuences may cause some changes in the original
                            plan. But the goal never changes. Software development make me love wood carving and wood carving make me 
                            love software developing. Thats why this activity is so special to me. 
                        </h2>
                    
                            <img src="../images/peter.png" class="interest-img" style="flex: 1fr;" alt="">
                        
                        
                            <img src="../images/peter.png" class="interest-img" style="flex: 1fr;" alt="">
                        
                        
                            <img src="../images/peter.png" class="interest-img" style="flex: 1fr;" alt="">
                        
                        
                            <img src="../images/peter.png" class="interest-img" style="flex: 1fr;" alt="">

                            <img src="../images/peter.png" class="interest-img" style="flex: 1fr;" alt="">
                        
                        
                            <img src="../images/peter.png" class="interest-img" style="flex: 1fr;" alt="">
                        
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    </body>
</html>