<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/projects.css">
    <link rel="stylesheet" href="../styles/Home.css">
    <link rel="stylesheet" href="../styles/interests.css">
    <title>Document</title>
</head>
<body style="background-color: grey; " class="interests-body">
    <div class="home-div" style="background-color: transparent;">
        <div class="top-bar">
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="../index.html">
                <div class="bar"><span class="bar-text">Home</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="skills.html">
                <div class="bar"><span class="bar-text">Skills</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="projects.html">
                <div class="bar"><span class="bar-text">Projects</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="interests.html">
                <div class="bar"><span class="bar-text">Interests</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="contact.html">
                <div class="bar"><span class="bar-text">Contact</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>    
        </div>
    
        <div class="image-container">
            <h1 style="color: orangered;">
                Interests
            </h1>
            <div class="project-folder">
                <div class="project-with-one-img">
                    <div>
                        <h2 class="interes-text"> I like wood carving and mosaic making. Both of these processes resemble software development. While creating a masterpiece, 
                            unpredictable errors may happen. These errors may change the momentary operations; however, the final goal always stays the same. I like wood carving 
                            and mosaic making because dealing with these errors forces me to think broader and differently. I enjoy dealing with these errors. Also, after 
                            finishing the masterpiece, I look at my masterpiece and think about the challenges I encountered during its making. Thinking about the final form of 
                            my masterpiece and how I overcome these challenges gives me peace, happiness, and satisfaction.  
                        </h2>

                            <img src="../images/IMG_5331.png" class="interest-img" style="flex: 1fr;" alt="">
                            <img src="../images/IMG_4554.png" class="interest-img" style="flex: 1fr;" alt="">
                            <img src="../images/IMG_5335.png" class="interest-img" style="flex: 1fr;" alt="">
                            <img src="../images/IMG_5337.png" class="interest-img" style="flex: 1fr;" alt="">
                            <img src="../images/IMG_8798.png" class="interest-img" style="flex: 1fr;" alt="">
                            <img src="../images/IMG_8797.png" class="interest-img" style="flex: 1fr;" alt="">
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    </body>
</html>