<!DOCTYPE html>
<html lang="en" style="width:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/projects.css">
    <link rel="stylesheet" href="../styles/Home.css">
    <title>Document</title>
</head>
<body style="background-color: grey;" class="main-body">
    <div class="home-div" style="background-color: transparent;">
        <div class="top-bar">
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="../index.html">
                <div class="bar"><span class="bar-text">Home</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="skills.html">
                <div class="bar"><span class="bar-text">Skills</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="projects.html">
                <div class="bar"><span class="bar-text">Projects</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="interests.html">
                <div class="bar"><span class="bar-text">Interests</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="contact.html">
                <div class="bar"><span class="bar-text">Contact</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>    
        </div>
    
        <div class="container">
            <h1 style="color: orangered;">
                Projects
            </h1>
                <div class="project-with-two-imgs">
                    <div>
                        <h2>CRUDPage</h2>
                        <div class=" two-images-div">
                            <img src="../images/IMG_5320.jpg" class="peter-img" alt="">
                            <img src="../images/CRUDPageClientSecond.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: Mongodb, Express Js, Vue Js, Node Js. 
                            </h2>
                            <h3>
                                Basic client-server project which is capable of making CRUD operations. Vue Js framework is used in the client side. Mongodb, Node Js-Express Js is used in the server side.
                                With this project, users can be created, user log in operation can be executed, users can be deleted and user information can be updated. CRUDPage is a stepping stone project for much more complex and useful projects.
                            </h3>
                            <a href="https://github.com/CenkerAkan/CRUDPageClient"class="project-link">GitHub Link for Client</a> <span></span><a href="https://github.com/CenkerAkan/CRUDPageServer" class="project-link">GitHub Link for Server</a>
                        </div>
                    </div>
                </div>

                <div class="project-with-two-imgs">
                    <div>
                        <h2>Register++</h2>
                        <div class=" two-images-div">
                            <img src="../images/reg+.png" class="peter-img" alt="">
                            <img src="../images/reg++.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: Java. 
                            </h2>
                            <h3>
                                Register++ is a third party desktop app developed for education institutions. In education institutions, 
                                sections change process, when a place opens, the first person to see it has that place. This means 
                                section change process depends on timing. Register++ automates the section change process, students can 
                                create single or multi section change requests and when there is an empty place in desired section/s the
                                request, system executes the first request that is made towards that empty space. In this project REST 
                                API, Mongodb, Java and Apache Netbeans is used. With this project, students do not have to wait in front of their
                                computers for hours, refreshing the page for every 30 seconds, waiting for a place to open in the course section they desire.
                                Register++ is developed within a semester with a team of five. 
                            </h3>
                            <a href="https://github.com/sameduslu/Bilkent-Section-Change-Project" class="project-link">GitHub Link</a>
                        </div>
                    </div>
                </div>


                <div class="project-with-one-img">
                    <div>
                        <h2> Portfolio Page</h2>
                        <div class="one-image-div">
                            <img src="../images/IMG_5304.jpg" class="peter-img"alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: HTML, Css. 
                            </h2>
                            <h3>
                                Portfolio Page Project is this website. This website is developed via using HTML and Css. Although this website is static, a server entegration is planned as a future improvement.
                            </h3>
                            <a href=""class="project-link">GitHub Link</a> 
                        </div>
                    </div>
                </div>
                
                <div class="project-with-two-imgs">
                    <div>
                        <h2>Heritage of Roots</h2>
                        <div class=" two-images-div">
                            <img src="../images/GGJ.png" class="peter-img" alt="">
                            <img src="../images/GGJSecond.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: Unity, C#. 
                            </h2>
                            <h3>
                                Heritage of Roots is a two-dimensional endless runner game. In the game player controls a root of a tree and acoids colliding trash.
                                The game emphasizes the pollution problem of todays world and how the humanity is differentiated from its roots. And the game offers a solution: remembering the heritage of roots.
                                Beside of its message, Heritage of Roots contains power ups, different types of obstacles and moving obstacles. The majority of the sounds of the game is created by developer team.
                                The game is developed by a team of six, working nonstop for two days, in the Game Circle Global Game Jam event.  
                            </h3>
                            <a href="https://www.youtube.com/watch?v=2mNJ-OIuCKM"class="project-link">Video of the Gameplay</a> <span></span><a href="https://github.com/CenkerAkan/GGJ" class="project-link">GitHub Link</a>

                        </div>
                    </div>
                </div>

                <div class="project-with-two-imgs">
                    <div>
                        <h2>Wind Tunnel Simulation</h2>
                        <div class=" two-images-div">
                            <img src="../images/hackathon.png" class="peter-img" alt="">
                            <img src="../images/simulation.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: Unreal Engine 5. 
                            </h2>
                            <h3>
                                Wind Tunnel Simulation is a project made with using Unreal Engine 5. This project is made for Infinia Software Development Hackathon, is made in 24 hours with non-stop working with a team of two.
                                Wind tunnels are large tubes with air moving inside. The tunnels are used to copy the actions of an object in flight.
                                In this project, user can move inside the wind tunnel, grab objects and expose them to the moving air and can observe their
                                aerodynamic behavior.There are ten different different objects; including a plane-wing, a sports car and a sphere.
                                User can change the speed of gas, heat and the gas density.                                  
                            </h3>
                            <a href="https://github.com/CenkerAkan/Wind-Tunnel-Simulation" class="project-link">GitHub Link</a>
                        </div>
                    </div>
                </div>
                
                <div class="project-with-one-img">
                    <div>
                        <h2> Fire & Fire</h2>
                        <div class="one-image-div">
                            <img src="../images/peter.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: Java, MySQL. 
                            </h2>
                            <h3>
                                Fire & Fire is a top down shooter game. In this game, Java is used for game physics, Apache Netbeans is used for GUI and MySQL is used for 
                                user registration. Unlike the majority of other top down shooter games, this project is planned to be a pvp game.
                                Fire & Fire is still in the development process, the physics of the game is created, connection with the database is completed, 
                                however the pvp infrastructure is not created yet.                                  
                            </h3>
                            <a href="https://github.com/CenkerAkan/Fire-Fire" class="project-link">GitHub Link</a>
                        </div>
                    </div>
    
                </div>


                <div class="project-with-two-imgs">
                    <div>
                        <h2>Single-Cycle Processor in System Verilog</h2>
                        <div class=" two-images-div">
                            <img src="../images/Basys3.jpg" class="peter-img" alt="">
                            <img src="../images/processor.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: SystemVerilog. 
                            </h2>
                            <h3>
                                SystemVerilog Code for a modified single-cycle processor. With this codei Basys3 FPGA board can act like a single cycle processor, and can execute basic arithmetic and logic operations according to the entered instructions.
                                Also, the FPGA board shows the results via Seven segment display. With this project, I developed a sound understanding of SystemVerilog.
                            </h3>
                            <a href="https://github.com/CenkerAkan/SystemVerilog-Simple-MIPS" class="project-link">GitHub Link</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>