<!DOCTYPE html>
<html lang="en" style="width:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/projects.css">
    <link rel="stylesheet" href="../styles/Home.css">
    <title>Document</title>
</head>
<body style="background-color: grey;" class="main-body">
    <div class="home-div" style="background-color: transparent;">
        <div class="top-bar">
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="../index.html">
                <div class="bar"><span class="bar-text">Home</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="skills.html">
                <div class="bar"><span class="bar-text">Skills</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="projects.html">
                <div class="bar"><span class="bar-text">Projects</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="interests.html">
                <div class="bar"><span class="bar-text">Interests</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>
            
            <a href="contact.html">
                <div class="bar"><span class="bar-text">Contact</span> </div>
            </a>
            <div class="bars"><p class="bar-text"></p> </div>    
        </div>
    
        <div class="container">
            <h1 style="color: orangered;">
                Projects
            </h1>
                <div class="project-with-two-imgs">
                    <div>
                        <h2>StudyFury</h2>
                        <div class=" two-images-div">
                            <img src="../images/StudyFury1.png" class="peter-img" alt="">
                            <img src="../images/StudyFury2.png" class="peter-img" alt="">
                            <img src="../images/StudyFury3.png" class="peter-img" alt="">
                            <img src="../images/StudyFury4.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: MongoDB, Express.js, Vue.js, Node.js. 
                            </h2>
                            <h3>
                                StudyFury is a productivity app where people can track and boost their productivity. StudyFury has four features: a statistics 
                                page where people can find detailed statistics about their short-term and long-term productivity, a focus timer where they can 
                                focus on their tasks, a blog page to meet people with strong ambitions and to share their journey with other people, and a to-do 
                                list to track long and short term tasks. Every completed task, focus session, blog entry, and comment is rewarded. This reward 
                                mechanism aims to increase the productivity of users. MEVN stack is used in this project. The authorization system amplifies the 
                                security by using double JSON Web Tokens (refresh and access tokens). Just as the users of StudyFury, StudyFury improves itself day 
                                by day. Optimization updates and StudyFuryAi weekly feedback are planned as future updates.
                            </h3>
                            <a href="https://github.com/CenkerAkan/StudyFuryClient"class="project-link">GitHub Link for Client</a> <span></span><a href="https://github.com/CenkerAkan/StudyFuryServer" class="project-link">GitHub Link for Server</a>
                        </div>
                    </div>
                </div>
                <div class="project-with-two-imgs">
                    <div>
                        <h2>CRUDPage</h2>
                        <div class=" two-images-div">
                            <img src="../images/IMG_5320.jpg" class="peter-img" alt="">
                            <img src="../images/CRUDPageClientSecond.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: MongoDB, Express.js, Vue.js, Node.js. 
                            </h2>
                            <h3>
                                A basic client-server project which is capable of making CRUD operations. Vue Js framework is used on the client side. 
                                MongoDB, Node Js-Express Js is used on the server side. With this project, users can be created, user log-in operations
                                can be executed, users can be deleted, and user information can be updated. CRUDPage is a stepping stone project for much 
                                more complex and valuable projects.
                            </h3>
                            <a href="https://github.com/CenkerAkan/CRUDPageClient"class="project-link">GitHub Link for Client</a> <span></span><a href="https://github.com/CenkerAkan/CRUDPageServer" class="project-link">GitHub Link for Server</a>
                        </div>
                    </div>
                </div>

                <div class="project-with-two-imgs">
                    <div>
                        <h2>Register++</h2>
                        <div class=" two-images-div">
                            <img src="../images/reg+.png" class="peter-img" alt="">
                            <img src="../images/reg++.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: Java. 
                            </h2>
                            <h3>
                                Register++ is a third-party desktop app developed for educational institutions. In educational institutions' section change process, 
                                when a place opens, the first person to see it has that place. This procedure means the section change process depends on timing. 
                                Register++ automates the section change process, students can create single or multi-section change requests, and when there is an empty
                                place in desired section/s, the system executes the first request that is made towards that empty space. This project uses REST API, MongoDB, 
                                Java, and Apache Netbeans. With this project, students do not have to wait in front of their computers for hours, refreshing the page every 30 
                                seconds, waiting for a place to open in the course section they desire. Register++ is developed within a semester with a team of five. 
                            </h3>
                            <a href="https://github.com/sameduslu/Bilkent-Section-Change-Project" class="project-link">GitHub Link</a>
                        </div>
                    </div>
                </div>


                <div class="project-with-one-img">
                    <div>
                        <h2> Portfolio Page</h2>
                        <div class="one-image-div">
                            <img src="../images/IMG_5304.jpg" class="peter-img"alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: HTML, Css. 
                            </h2>
                            <h3>
                                Portfolio Page Project is this website. This website is developed using HTML and CSS. Although this website is static, a 
                                server integration is planned as a future improvement.
                            </h3>
                            <a href=""class="project-link">GitHub Link</a> 
                        </div>
                    </div>
                </div>
                
                <div class="project-with-two-imgs">
                    <div>
                        <h2>Heritage of Roots</h2>
                        <div class=" two-images-div">
                            <img src="../images/GGJ.png" class="peter-img" alt="">
                            <img src="../images/GGJSecond.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: Unity, C#. 
                            </h2>
                            <h3>
                                Heritage of Roots is a two-dimensional endless runner game. In the game, the player controls a tree's root and avoids colliding with trash. 
                                The game emphasizes the pollution problem of today's world and how humanity is differentiated from its roots. The game offers a solution: 
                                remembering the heritage of roots. Besides its message, Heritage of Roots contains power-ups, different types of obstacles, and moving obstacles. 
                                The developer team created the majority of the sounds of the game. The game is developed by a team of six, working non-stop for two days in the 
                                Game Circle Global Game Jam event.  
                            </h3>
                            <a href="https://www.youtube.com/watch?v=2mNJ-OIuCKM"class="project-link">Video of the Gameplay</a> <span></span><a href="https://github.com/CenkerAkan/GGJ" class="project-link">GitHub Link</a>

                        </div>
                    </div>
                </div>

                <div class="project-with-two-imgs">
                    <div>
                        <h2>Wind Tunnel Simulation</h2>
                        <div class=" two-images-div">
                            <img src="../images/hackathon.png" class="peter-img" alt="">
                            <img src="../images/simulation.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: Unreal Engine 5. 
                            </h2>
                            <h3>
                                Wind Tunnel Simulation is a project made using Unreal Engine 5. This project is done for the Infinia Software Development Hackathon, 
                                which is made in 24 hours with non-stop working with a team of two, which is appreciated by the jury and can make it to the final round. 
                                Wind tunnels are large tubes with air moving inside. The tunnels are used to copy the actions of an object in flight. In this project, users 
                                can move inside the wind tunnel, grab objects, expose them to the moving air, and observe their aerodynamic behavior. There are ten different 
                                objects, including a plane wing, a sports car, and a sphere. Users can change the speed of gas, heat, and gas density.                                
                            </h3>
                            <a href="https://github.com/CenkerAkan/Wind-Tunnel-Simulation" class="project-link">GitHub Link</a>
                        </div>
                    </div>
                </div>
                
                <div class="project-with-one-img">
                    <div>
                        <h2> Fire & Fire</h2>
                        <div class="one-image-div">
                            <img src="../images/FireFire.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: Java, MySQL. 
                            </h2>
                            <h3>
                                Fire & Fire is a top-down shooter game. In this game, Java is used for game physics, Apache Netbeans is used for GUI, and MySQL 
                                is used for user registration. Unlike most other top-down shooter games, this project is planned to be a PVP game. Fire & Fire is 
                                still in the development process; the game's physics has been created, and the connection with the database is completed; however, 
                                the PVP infrastructure is not created yet.                                  
                            </h3>
                            <a href="https://github.com/CenkerAkan/Fire-Fire" class="project-link">GitHub Link</a>
                        </div>
                    </div>
    
                </div>


                <div class="project-with-two-imgs">
                    <div>
                        <h2>Single-Cycle Processor in System Verilog</h2>
                        <div class=" two-images-div">
                            <img src="../images/Basys3.jpg" class="peter-img" alt="">
                            <img src="../images/processor.png" class="peter-img" alt="">
                        </div>
                        <div class="project-explanation">
                            <h2 >
                                Used Skills: SystemVerilog. 
                            </h2>
                            <h3>
                                SystemVerilog Code for a modified single-cycle processor. This code Basys3 FPGA board can act like a single-cycle processor and execute basic 
                                arithmetic and logic operations according to the entered instructions. Also, the FPGA board shows the results via Seven segment display. With 
                                this project, I developed a sound understanding of SystemVerilog.
                            </h3>
                            <a href="https://github.com/CenkerAkan/SystemVerilog-Simple-MIPS" class="project-link">GitHub Link</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>