<!DOCTYPE html>
<html lang="en" style="width:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/projects.css">
    <link rel="stylesheet" href="../styles/Home.css">
    <title>Document</title>
</head>
<body style="background-color: grey;" class="main-body">
    <div class="home-div" style="background-color: transparent;">
        <div class="top-bar">
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="../index.html">
                <div class="bar"><span class="bar-text">Home</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="skills.html">
                <div class="bar"><span class="bar-text">Skills</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="projects.html">
                <div class="bar"><span class="bar-text">Projects</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="interests.html">
                <div class="bar"><span class="bar-text">Interests</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>
            
            <a href="contact.html">
                <div class="bar"><span class="bar-text">Contact</span> </div>
            </a>
            <div class="bar"><p class="bar-text"></p> </div>    
        </div>
    
        <div class="container">
            <h1 style="color: orangered;">
                Projects
            </h1>
            
                <div class="project-with-one-img">
                    <div>
                        <h2> This is an example project with one image</h2>
                        <div class="one-image-div">
                            <img src="../images/peter.png" class="peter-img"alt="">
                        </div>
                        <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
    
                        </h3>
                    </div>
    
                </div>
    
                <div class="project-with-two-imgs">
                    <div>
                        <h2>This is an example project with <span style="color: orange;">two</span> images</h2>
                        <div class=" two-images-div">
                            <img src="../images/peter.png" class="peter-img" alt="">
                            <img src="../images/stewie.png" class="stewie-img" alt="">
                        </div>
                        <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        </h3>
                    </div>
                </div>
    
                <div class="project-with-one-img">
                    <div>
                        <h2> This is an example project with one image</h2>
                        <div class="one-image-div">
                            <img src="../images/peter.png" class="peter-img" alt="">
                        </div>
                        <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            
                        </h3>
                    </div>
    
                </div>
    
                <div class="project-with-one-img">
                    <div>
                        <h2> This is an example project with one image</h2>
                        <div class="one-image-div">
                            <img src="../images/peter.png" class="peter-img" alt="">
                        </div>
                        <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            
                        </h3>
                    </div>
                </div>
    
                <div class="project-with-two-imgs">
                    <div>
                        <h2>This is an example project with <span style="color: orange;">two</span> images</h2>
                        <div class=" two-images-div">
                            <img src="../images/peter.png" class="peter-img" alt="">
                            <img src="../images/stewie.png" class="stewie-img" alt="">
                        </div>
                        <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        </h3>
                    </div>
                </div>
    
               
                <div class="project-with-two-imgs">
                    <div>
                        <h2>This is an example project with <span style="color: orange;">two</span> images</h2>
                        <div class=" two-images-div">
                            <img src="../images/peter.png" class="peter-img" alt="">
                            <img src="../images/stewie.png" class="stewie-img" alt="">
                        </div>
                        <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                            This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        </h3>
                    </div>
                </div>
           
            <div class="project-with-one-img">
                <div>
                    <h2> This is an example project with one image</h2>
                    <div class="one-image-div">
                        <img src="../images/peter.png" class="peter-img" alt="">
                    </div>
                    <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        
                    </h3>
                </div>
            </div>
            <div class="project-with-two-imgs">
                <div>
                    <h2>This is an example project with <span style="color: orange;">two</span> images</h2>
                    <div class=" two-images-div">
                        <img src="../images/peter.png" class="peter-img" alt="">
                        <img src="../images/stewie.png" class="stewie-img" alt="">
                    </div>
                    <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    </h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>