<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/Home.css">
    <link rel="stylesheet" href="../styles/skills.css">
</head>
<body>
    <body style="background-color: grey; height: 1000px;">
        <div class="home-div" style="background-color: transparent;">
            <div class="top-bar">
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="">
                    <div class="bar"><span class="bar-text">Home</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="skills.html">
                    <div class="bar"><span class="bar-text">Skills</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="">
                    <div class="bar"><span class="bar-text">Projects</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="">
                    <div class="bar"><span class="bar-text">Interests</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="">
                    <div class="bar"><span class="bar-text">Contact</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>    
            </div>
            <div class="main-content">
                <!--<div class="blank" style="background-color: lightcoral;flex: 1;"></div>-->
                <div class="home-photo" style="background-color: rgb(182, 173, 230);flex: 4;"> <img src="../images/Peter_Griffin.png" class="home-image" alt=""></div>
                <div class="about-me" style="flex: 10;"> 
                    <h1 class="portfolio-name">
                        My Skills
                    </h1>
                    <div class="hard-s">
                        <h2>
                            Hard Skills
                        </h2>
                        <div class="hard-skills">
                            <div> <p>C++</p></div>
                            <div> <p>Java</p></div>
                            <div> <p>Node Js</p></div>
                            <div> <p>HTML/Css</p></div>

                            <div> <p>HTML/Css</p></div>
                            <div> <p>C++</p></div>
                            <div> <p>Java</p></div>
                            <div> <p>Node Js</p></div>

                            <div> <p>Node Js</p></div>
                            <div> <p>HTML/Css</p></div>
                            <div> <p>C++</p></div>
                            <div> <p>Java</p></div>

                            <div> <p>Java</p></div>
                            <div> <p>Node Js</p></div>
                            <div> <p>HTML/Css</p></div>
                            <div> <p>C++</p></div>
                        </div>
                    </div>
                    <div class="soft-s">
                        <h2>
                            Soft Skills
                        </h2>
                        <div class="soft-skills">
                            <div><p>Intense work and challenges fuel my motivation to study</p></div>
                            <div><p>I am not hesitated about choosing the hard-way when it is needed</p></div>
                            <div><p>I love solving problems with collaboration</p></div>
                            <div><p>I can withstand high stress</p></div>
                            <div><p>My main motivation for work is learning</p></div>
                        </div>
                    </div>
                    
                </div>
                <!--<div class="blank" style="background-color: lightcoral;flex: 1;"></div>-->
            </div>
        </div>
</body>
</html>