<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/Home.css">
    <link rel="stylesheet" href="../styles/skills.css">
</head>
<body>
    <body style="background-color: grey; height: 100%;">
        <div class="home-div" style="background-color: transparent;">
            <div class="top-bar">
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="../index.html">
                    <div class="bar"><span class="bar-text">Home</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="skills.html">
                    <div class="bar"><span class="bar-text">Skills</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="projects.html">
                    <div class="bar"><span class="bar-text">Projects</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="interests.html">
                    <div class="bar"><span class="bar-text">Interests</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>
                
                <a href="contact.html">
                    <div class="bar"><span class="bar-text">Contact</span> </div>
                </a>
                <div class="bar"><p class="bar-text"></p> </div>    
            </div>
            <div class="main-content">
                <!--<div class="blank" style="background-color: lightcoral;flex: 1;"></div>-->
                <div class="home-photo" style="background-color: rgb(182, 173, 230);flex: 4;"> <img src="../images/petergriffin.png" class="home-image" alt=""></div>
                <div class="about-me" style="flex: 10;"> 
                    <h1 class="skills-name">
                        My <span style="color: orangered;">Skills</span>
                    </h1>
                    <div class="hard-s">
                        <h2 class="skills-title">
                            <span style="color: orangered;">Technical</span> Skills
                        </h2>
                        <div class="hard-skills">
                            <div> <p>&#183;  Java</p></div>
                            <div> <p>&#183;  C++</p></div>
                            <div> <p>&#183;  Verilog</p></div>

                            <div> <p>&#183;  Javascript</p></div>
                            <div> <p>&#183;  Node Js / Express JS</p></div>
                            <div> <p>&#183;  Vue JS</p></div>

                            <div> <p>&#183;  Mongodb</p></div>
                            <div> <p>&#183;  HTML/ Css</p></div>
                            <div> <p>&#183;  MySQL</p></div>

                            <div> <p>&#183;  C#</p></div>
                            <div> <p>&#183;  Unity</p></div>
                            <div> <p>&#183;  Unreal Engine 5</p></div>
                        </div>
                    </div>
                    <div class="soft-s">
                        <h2 class="skills-title">
                            <span style="color: orangered;">Soft</span> Skills
                        </h2>
                        <div class="soft-skills">
                            <div><p>&#183; &nbsp;&nbsp;&nbsp;&nbsp; I enjoy solving problems with collaboration and team work.</p></div>
                            <div><p>&#183; &nbsp;&nbsp;&nbsp;&nbsp; Intense work and challenges fuel my motivation.</p></div>
                            <div><p>&#183; &nbsp;&nbsp;&nbsp;&nbsp; I can handle high levels of stress while maintaining my motivation.</p></div>
                            <div><p>&#183; &nbsp;&nbsp;&nbsp;&nbsp; I am have a solid understanding of Agile teaching and management methodologies.</p></div>
                            <div><p>&#183; &nbsp;&nbsp;&nbsp;&nbsp; I am not hesitated about taking the hard-way when it is needed.</p></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</body>
</html>