<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/testStyle.css">
</head>
<body>
    <div class="container">
        <h1>
            container
        </h1>
        <div class="project-folder">
            <div class="project-with-one-img">
                <div>
                    <h2> This is an example project with one image</h2>
                    <div class="one-image-div">
                        <img src="../images/peter.png" class="peter-img"alt="">
                    </div>
                    <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 

                    </h3>
                </div>

            </div>

            <div class="project-with-two-imgs">
                <div>
                    <h2>This is an example project with <span style="color: orange;">two</span> images</h2>
                    <div class=" two-images-div">
                        <img src="../images/peter.png" class="peter-img" alt="">
                        <img src="../images/stewie.png" class="stewie-img" alt="">
                    </div>
                    <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    </h3>
                </div>
            </div>

            <div class="project-with-one-img">
                <div>
                    <h2> This is an example project with one image</h2>
                    <div class="one-image-div">
                        <img src="../images/peter.png" class="peter-img" alt="">
                    </div>
                    <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        
                    </h3>
                </div>

            </div>

            <div class="project-with-one-img">
                <div>
                    <h2> This is an example project with one image</h2>
                    <div class="one-image-div">
                        <img src="../images/peter.png" class="peter-img" alt="">
                    </div>
                    <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        
                    </h3>
                </div>
            </div>

            <div class="project-with-two-imgs">
                <div>
                    <h2>This is an example project with <span style="color: orange;">two</span> images</h2>
                    <div class=" two-images-div">
                        <img src="../images/peter.png" class="peter-img" alt="">
                        <img src="../images/stewie.png" class="stewie-img" alt="">
                    </div>
                    <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    </h3>
                </div>
            </div>

           
            <div class="project-with-two-imgs">
                <div>
                    <h2>This is an example project with <span style="color: orange;">two</span> images</h2>
                    <div class=" two-images-div">
                        <img src="../images/peter.png" class="peter-img" alt="">
                        <img src="../images/stewie.png" class="stewie-img" alt="">
                    </div>
                    <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    </h3>
                </div>
            </div>
        </div>
        <div class="project-with-one-img">
            <div>
                <h2> This is an example project with one image</h2>
                <div class="one-image-div">
                    <img src="../images/peter.png" class="peter-img" alt="">
                </div>
                <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    
                </h3>
            </div>
        </div>

    </div>
</body>
</html>

<!--

    <div class="project-with-two-imgs">
                <div>
                    <h2>This is an example project with <span style="color: orange;">two</span> images</h2>
                    <div class=" two-images-div">
                        <div style="flex: 1;">
                            <img src="../images/peter.png" class="peter-img" alt="">
                        </div>
                        <div style="flex: 1;">
                            <img src="../images/stewie.png" class="stewie-img" alt="">
                        </div>
                    </div>
                    <h3> This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                        This is project info: project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info project_info 
                    </h3>
                </div>
            </div>
-->